<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459490724602-r7u2vnqcsejreethet4evbtbe6d8i387.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459490724602-r7u2vnqcsejreethet4evbtbe6d8i387</string>
	<key>API_KEY</key>
	<string>AIzaSyBbDNxDKd62bDCCVFzj8s7nwIrQawdo9RY</string>
	<key>GCM_SENDER_ID</key>
	<string>459490724602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Orcalearns</string>
	<key>PROJECT_ID</key>
	<string>orcalearns-fa29e</string>
	<key>STORAGE_BUCKET</key>
	<string>orcalearns-fa29e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459490724602:ios:7b26dc49f0887bb83d9743</string>
</dict>
</plist>